.linkUnderline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#3498db, #3498db);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.linkUnderline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#F2C, #F2C)
}

.linkUnderline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}